@import 'settings';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.hero {
  background: linear-gradient(rgba(30, 30, 30, .65), rgba(30, 30, 30, .65)),
     url('/images/markus-spiske-466ENaLuhLY-unsplash.jpg') center;
  background-size: cover;
  display: grid;
  padding: 4rem 2rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
  font-family: 'Source Sans Pro';
}

.headshot {
  border-radius: 50%;
  height: 180px;
  justify-self: center;
}

.hero > * {
  color: white;
}

header { 
  display: none;
}

