@import 'settings';


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.hero {
  background: url('/images/markus-spiske-466ENaLuhLY-unsplash.jpg') center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

.hero > * {
  color: white;
}

header { 
  display: none;
}

